[submodule "ZEKRA-STARK"]
	path = ZEKRA-STARK
	url = git@github.com:Jglez2330/ZEKRA-STARK.git
[submodule "poseidon-hash"]
	path = poseidon-hash
	url = https://github.com/ingonyama-zk/poseidon-hash
[submodule "miden/starkra/miden-vm"]
	path = miden/starkra/miden-vm
	url = https://github.com/0xMiden/miden-vm.git
[submodule "ZEKRA"]
	path = ZEKRA
	url = https://github.com/HeiniDebes/ZEKRA.git
